@page
@model ContosoUniversity.Pages_Instructors.DeleteModel

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Quer mesmo fazer isso?</h3>
<div>
    <h4>Instrutor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.HireDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Instructor.ID" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar para lista</a>
    </form>
</div>
